version: '3'

services:
  se-server:
    ulimits:
      nofile:
        soft: 20000
        hard: 40000
    # image: mmmaxwwwell/space-engineers-dedicated-docker-linux:latest
    build: .
    container_name: space-engineers-dedicated-docker-linux
    restart: unless-stopped
    volumes:
      - world:/appdata/space-engineers/World
      - plugins:/appdata/space-engineers/Plugins
      - bins:/appdata/space-engineers/SpaceEngineersDedicated
      - steamcmd:/home/wine/Steam
    network: host
volumes: 
  world:
  plugins:
  bins:
  steamcmd: